{% extends 'base.html' %}
{% load static %}

{% block main %}
<!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <img class="img-fluid mb-3 d-block mx-auto circle" src="{% static "img/profiles.png"%}"  alt="Foto do Matheus Fornazieri">
      <h3 class="text-uppercase mb-0">Matheus Fornazieri</h3>
    </div>
  </header>

  <!-- Portfolio Grid Section -->
  <section class="Resumo" >
    <div id="Resumo" class="container">
      <h3 class="text-center text-uppercase text-secondary mb-0" >Resumo</h3>
      <hr>
      <p><em>
      <p>A minha trajetória na TI começou nos anos 2000. Nessa época, eu tinha apenas 12 anos de idade e já programava sites em PHP, HTML e CSS, com banco de dados mysql.
      Tenho extrema intimidade e facilidade com a área de TI, pois sou fascinado por inovação, segurança e desenvolvimento.
      </p>
      <p>Na minha carreira passei por grandes empresas, como a EDP Brasil, a Matrix Energy Trading e o Banco CBSS. Na primeira, fui contratado como Analista Infraestrutura de TI e tive a oportunidade de atuar como gerente de vários projetos de infra e sistemas, bem como gerir mais de 300 aplicações distribuídas e administrar ambiente cloud na Azure.
      </p>
      <p>Após, fui contratado na Matrix Energy Trading como Especialista de TI. Os principais projetos que atuei foram a migração de datacenter e o desenvolvimento de robôs em python para automação de processos.
      </p>
      <p>No Banco CBSS, o principal projeto que atuei como Arquiteto de soluções foi a migração do Core Banking para a nuvem AWS. Nessa oportunidade, aprimorei meus conhecimentos em segurança de dados para construir um ambiente na nuvem de forma extremamente segura.
      </p>
      <p>A minha escolha pela TI é reflexo do meu gosto por tornar simples algo complexo ou repetitivo ou aparentemente sem solução. Assim, devido a minha experiência em diversas áreas, tenho facilidade em ter uma visão abrangente para solucionar obstáculos com objetividade e eficiência em casos desafiadores.
      </p></em></p>


  </section>

  <!-- About Section -->
  <section class="mb-0" id="about">
    <div class="container">
      <h3 class="text-center text-uppercase text-secondary mb-0">Curriculum</h3>
      <hr>
      <h4 class=" text-uppercase text-secondary mb-0" id="formacao" style="padding-top: 35px;">FORMAÇÃO</h4>
      <div class="row">

        <ul>
          <li>Análise e Desenvolvimento de Sistemas - Instituto Federal São Paulo (IFSP) - Conclusão em 2013.</li>
          <li>Técnico em Informática - Centro Paula Souza - Conclusão em 2007.</li>
        </ul>
      </div>
      <h4 class=" text-uppercase text-secondary mb-0" id="qualificacoes"style="padding-top: 35px;">QUALIFICAÇÕES TÉCNICAS</h4>
      <div class="row">
        <h5><span class="badge badge-pill badge-primary">AWS</span>&nbsp;</h5>
        <h5><span class="badge badge-pill badge-primary">Microsoft Azure</span>&nbsp;</h5>
        <h5><span class="badge badge-pill badge-primary">Google Cloud Plataform</span>&nbsp;</h5>
        <h5><span class="badge badge-pill badge-primary">Python</span>&nbsp;</h5>
        <h5><span class="badge badge-pill badge-primary">Django</span>&nbsp;</h5>
        <h5><span class="badge badge-pill badge-primary">PHP</span>&nbsp;</h5>
        <h5><span class="badge badge-pill badge-primary">HTML5</span>&nbsp;</h5>
        <h5><span class="badge badge-pill badge-primary">C#</span>&nbsp;</h5>
        <h5><span class="badge badge-pill badge-primary">ASP.NET</span>&nbsp;</h5>
        <h5><span class="badge badge-pill badge-primary">SQLServer</span>&nbsp;</h5>
        <h5><span class="badge badge-pill badge-primary">Oracle10g</span>&nbsp;</h5>
        <h5><span class="badge badge-pill badge-primary">MongoDB</span>&nbsp;</h5>
        <h5><span class="badge badge-pill badge-primary">Bootstrap</span>&nbsp;</h5>
        <h5><span class="badge badge-pill badge-primary">Linux</span>&nbsp;</h5>
        <h5><span class="badge badge-pill badge-primary">Redes</span>&nbsp;</h5>
        <h5><span class="badge badge-pill badge-primary">Arquitetura de soluções</span>&nbsp;</h5>
        <h5><span class="badge badge-pill badge-primary">troubleshooting</span>&nbsp;</h5>
        <h5><span class="badge badge-pill badge-primary">Gestão de projetos</span>&nbsp;</h5>
      </div>
      <h4 class=" text-uppercase text-secondary mb-0" id="cursos" style="padding-top: 35px;" >Cursos</h4>
      <div class="row">
        <ul>
          <li>Criação de Startups: Como desenvolver negócios inovadores - USP - Fevereiro/2019</LI>
          <li>Consolidando empresas: Estrutura jurídica e financeira - USP - Fevereiro/2019</LI>
          <li>Desvendando a Blockchain -  SENAI - Fevereiro/2019</LI>
          <li>Getting Started with Google Kubernetes Engine - Google -  Maio/2018</LI>
          <li>AWS Cloud Practitioner Essentials: Architecting - AWS - Abril/2018</LI>
          <li>AWS cloud Foundation - AWS - Março/2018</LI>
          <li>Implementing Microsoft Azure Infrastructure Solutions 20532 - Ka Solution - Janeiro/2017</LI>
          <li>Accredited Configuration Engineer - Palo Alto - Junho/2017</LI>
          <li>VBA para Excel avançado - SENAC - Dezembro/2014</LI>
          <li>Geoprocessamento de dados – IFSP –  Janeiro/2013</LI>
          <li>Java EE JSF/Hibernate/Primefaces – IFSP –  Novembro/2012 </LI>
          <li>Oracle 10g – IFSP –  Agosto/2012 </LI>
          <li>Desenvolvimento WEB (PHP) – IFSP – Janeiro/2012  </LI>
          <li>Programação Para Rede (JAVA) – IFSP – Janeiro/2012  </LI>
          <li>Linux Shell Scripting – IFSP – Outubro/2011  </LI>
          <li>Linux Avançado - IFSP – Outubro/2011  </LI>
          <li>WEB Framework Grails - IFSP – Outubro/2011  </LI>
          <li>Desenvolvimento para Windows Phone  – Microsoft – Outubro/2011  </LI>
          <li>Live Tech : Microsoft TechNet / MSDN - Maio/2010</LI>
        </ul>
      </div>
      <h4 class=" text-uppercase text-secondary mb-0"id="experiencia" style="padding-top: 35px;">EXPERIÊNCIA PROFISSIONAL</h4>
      <div class="row">
        <ul>
          <li><strong>2018 (Março) -2018 (Outubro) - SempreIT</strong></li>
          <strong>Cargo:</strong> Arquiteto de Soluções<br>
          <strong>Principais atividades:</strong> Projetar, documentar e, principalmente, integrar aplicações, em comunicação direta com a equipe de segurança da informação, a fim de estruturar arquitetura mais robusta e mais segura possível.<br>
          <strong> Principais Projetos: </strong> Migração para nuvem AWS, atualização de plataforma Core Banking, migração core Banking para nuvem, migração de aplicações para plataforma Kubernetes.
        </ul>
      </div>
      <div class="row">
        <ul>
          <li><strong>2017(Novembro) - 2018 (Março) - Matrix Energy</strong></li>
          <strong>Cargo:</strong>Especialista de TI<br>
          <strong>Principais atividades:</strong> Gestão de orçamento de TI; gestão de fornecedores; gestão de firewall; desenvolvedor python; arquiteto de aplicações, rede e infraestrutura; administrador do serviço de e-mail office 365; administrador cloud (Azure e AWS); administrador de políticas de software; administrador de servidores windows e Linux; configuração e validação das rotinas de backup de ambientes críticos e licenciamento de software.<br>
          <strong> Principais Projetos: </strong> Migração de DataCenter, virtualização de servidores, implantação de Telefonia VoiP e Desenvolvimento em Python para automação.
        </ul>
      </div>
      <div class="row">
        <ul>
          <li><strong>2014 (Dezembro) - 2017 (Outubro) - EDP Brasil</strong></li>
          <strong>Cargo:</strong>Analista de Infraestrutura de TI - Pleno<br>
          <strong>Principais atividades:</strong> Gestão de licenciamento de software, de rotinas de backup e storage; administrador do ambiente Cloud Azure; gerente  de diversos projetos de infraestrutura.<br>
          <strong> Principais Projetos: </strong> Migração de email Lotus Notes para Office 365, migração de datacenter On Premisses para Cloud Azure, Renumber de Rede, dentre outros na área de infraestrutura de TI.
        </ul>
      </div>
      <div class="row">
        <ul>
          <li><strong>2014 (Maio) – 2014 (Novembro)  - Gyn Consulting</strong></li>
          <strong>Cargo:</strong>Analista de Sistemas Jr.<br>
          <strong>Principais atividades:</strong> Gerente de projetos, elaboração de especificação técnica, requisitos de software, hardware e gestão de sistemas distribuídos<br>
          <strong> Principais Projetos: </strong> Atuação em diversos projetos de sistemas distribuídos, utilizando a plataforma SharePoint com customizações em C#.net, outras plataformas como a Outsystems para desenvolvimento ágil low code, automação de processos com Blueprism
        </ul>
      </div>
      <div class="row">
        <ul>
          <li><strong>2013 (Novembro) – 2014 (Maio) –  Robert Half</strong></li>
          <strong>Cargo:</strong>Analista de Sistemas Jr<br>
          <strong>Principais atividades:</strong> Acompanhar demandas de melhorias de softwares e incidentes.
        </ul>
      </div>
      <div class="row">
        <ul>
          <li><strong>2013 (Julho) – 2013 (Novembro) – PML Engenharia Arquitetura.</strong></li>
          <strong>Cargo:</strong>Estagiário Desenvolvimento WEB <br>
          <strong>Principais atividades:</strong> Desenvolvimento utilizando C#, TELERIK em um software de gestão de projetos no setor de construção civil.<br>
        </ul>
      </div>
      <div class="row">
        <ul>
          <li><strong>2012 (Março) - 2013 (Julho) – USP – Depto. Estruturas</strong></li>
          <strong>Cargo:</strong>Estagiário<br>
          <strong>Principais atividades:</strong> Manutenção de computadores, administrador de redes e servidores windows/ linux.<br>
        </ul>
      </div>
      <div class="row">
        <ul>
          <li><strong>2004 - 2012 – Técnico em manutenção de computadores Autônomo</strong></li>
          <strong>Cargo:</strong> Arquiteto de Soluções<br>
          <strong>Principais atividades:</strong>Manutenção de computadores, consultoria doméstica e empresarial em informática, implantação de redes de computadores, configuração de servidores linux/windows.
        </ul>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Contato</h2>
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
          <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="pt_BR" data-type="horizontal" data-theme="light" data-vanity="matheusfornazieri"><a class="LI-simple-link" href='https://br.linkedin.com/in/matheusfornazieri?trk=profile-badge'>Matheus Fornazieri</a></div>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  </section>
{% endblock %}